.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    margin-top: 2em;
    gap: 2em;
}
.loginButton {
    width: 30em;
}
.accordionSummary {
    background-color: rgba(255, 157, 27, 0.5);
}
.accordionDetails {
    background-color: rgba(255, 157, 27, 0.5);
}