.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.borderedBox {
    border: solid 1px blue;
    border-radius: 1em;
    padding: 1.3em;
    margin: 0.3em;
    height: max-content;
    width: 50%;
}
.nameSelectBox {
    min-width: 15em;
    margin-bottom: 20px;
    margin-top: 0.6em

}
.allButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7em;
    margin-bottom: 2em;
}
.topMargin {
    margin-top: 2em;
}
.alertAPI {
    justify-content: center;
    width: 100%;
}
.addButton {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* -------------------- REFACTOR ---------------------- */

.listItem {
    border: 1px solid black;
    margin: 5px;
    border-radius: 4px;
}

.listItemGreyed {
    background-color: rgb(150, 150, 150);
    border: 1px solid black;
    margin: 5px;
    border-radius: 4px;
}

.listItemGreyed > .memberChip {
    width: 100px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
    background-color: white;
}

/* a{
    text-decoration: none;
} */

.itemCont:hover > .listItem {
    background-color: rgb(186, 205, 255);
    transition: 0.5s;
    cursor: pointer;
}
.memberChip {
    width: 100px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
}

.memberChipGreyed {
    width: 100px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
    background-color: lightgray !important;
    color: black !important;
}

p {
    margin-top: 0;
}

.greyedTitle {
    color: white;
}

.teamAddTextField {
    margin-top: 20px;
    margin-bottom: 20px;
}

.addTeamDialogContent {
    display: flex;
    flex-direction: column;
}

.modifyTeamDialogContent {
    display: flex;
    flex-direction: column;
    width: 500px;
}


.teamName {
    text-align: center;
}


.modifyTeamName {
    font-weight: bold;
}

.createButton {
    margin-top: 20px;
    width: 100%;
}

.createButton > * {
    width: 100%;
}

.memberDiv {
    margin-top: 40px;
}

.divider {
    margin-top: 20px;
}

.ultimateWarning > *{
    color: red;
}

.createTeamButton {
    margin-top: 130px;
}

.modifyDialog {
    width: 350px;
}
/* -------------------- /REFACTOR ---------------------- */
