.rowFlex {
    margin-top: 1em;
    gap: 2em;
    display: flex;
}
.symbolFields {
    width: 8em;
}
.changesDoneWarning {
    color: red;
}

@media only screen and (min-width: 930px) {
    .lowRow {
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        font-size: small;
    }
    .topRow{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        font-size: small;
    }
    .buttons {
        margin-top: 1em;
        display: flex;
        gap: 0.5em;
    }
    .content {
        padding: 0em 1em 1em 0.5em;
    }
    .selectComponent {
        width: 19em;
    }
    .colorPicker {
        margin-left: 2em;
    }
}
@media only screen and (max-width: 930px) {
    .lowRow {
        margin-top: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: small;
    }
    .topRow{
        display: flex;
        flex-direction: column;
        font-size: small;
        gap: 1em;
    }
    .buttons {
        margin-top: 0.7em;
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }
    .content {
        padding: 0.5em 1em 1em 0.5em;
    }
    .selectComponent {
        width: 14em;
    }
    .colorPicker {
        margin-left: 0;
    }
}