.content {
    display: flex;
}
.borderedBox {
    border: solid 1px blue;
    border-radius: 1em;
    padding: 0 1em 1em 1em;
    margin: 2em 2em 2em 1em;
}
.borderedBoxProfile {
    border: solid 1px blue;
    border-radius: 1em;
    padding: 0 1em 1em 1em;
    margin: 2em 1em 2em 2em;
    height: max-content;
}
.holidaySymbolBox{
    max-width: 7em;
}
.nameSelectBox {
    min-width: 15em;
    margin-bottom: 2em;
}
.changeNameButton {
    margin-top: 2em;
}
.emojiHint {
    font-size: small;
}
.colorPickers {
    display: flex;
    flex-direction: column;
    width: auto;
}
.rowFlex {
    margin-top: 1em;
    gap: 2em;
    display: flex;
}
.columnFlex {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    margin-left: 1em;
}
.belowButton {
    margin-top: 1em;
}
.alertAPI {
    justify-content: center;
    width: 100%;
}