body {
  margin: auto;
  padding: 20px;
}

.redText {
  color: red;
}
.averageNumber {
  color: red;
  font-size: medium;
}
.averageText {
  margin-top: 0.5em;
}
.marginTop {
  margin-top: 30px;
}

ul {
  list-style-type: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dates {
  width: 400px;
}
.datesGroup {
  margin-bottom: 1%;
}
.holidays {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.extraMargin {
  margin-top: 2% !important;
  margin-bottom: 1% !important;
}
.nameSelectBox {
  width: 400px;
  display: inline-block;
}
.mainView{
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}