.redText {
  color: red;
}
.averageNumber {
  color: red;
  font-size: medium;
}
.averageText {
  margin-top: 0.5em;
}
.marginTop {
  margin-top: 10px;
}
.accordionDivider {
  background-color: #2A55E7;
}
ul {
  list-style-type: none;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.leftSide {
  width: max-content;
}
.content {
  display: flex;
  flex-direction: column;
}
.selectSection {
  display: flex;
  align-items: center;
}
.selectBox {
  height: 2em;
}
.buttonStyle {
  width: 14em;
  height: 3em;
  text-align: left;
}
.accordion {
  border: 0.1em solid rgb(56, 116, 203);
}
.accordionSummaryElements {
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown {
  background-color: aliceblue;
}
.confirmedBox{
  border-radius: 4px;
  width: max-content;
  color: white;
  background-color: #1876d2;
  border: 0.1em solid #1876d2;
  padding: 0.2em;
}
.unconfirmedBox{
  border-radius: 4px;
  width: max-content;
  color: #1876d2;
  border: 0.1em solid #1876d2;
  padding: 0.2em;
}