.content {
    display: flex;
}
.borderedBox {
    border: solid 1px blue;
    border-radius: 1em;
    padding: 1.3em;
    margin: 0.3em;
    height: max-content;
}
.nameSelectBox {
    min-width: 15em;
    margin-bottom: 2em;
    margin-top: 0.6em

}
.allButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7em;
    margin-bottom: 2em;
}
.topMargin {
    margin-top: 2em;
}