@media only screen and (max-width: 768px) {
    .rowOnCalendar {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 768px) {
    .rowOnCalendar {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5em;
    }
}
.heightSettings{
    min-height: max-content;
}
.heightTitle {
}
.monthSelectionButtons {
    align-items: center;
    justify-content: center;
    display: flex;
}
.sizeRadioButtons {
}
.teamChips {
    padding-top: 20px;
    float: left;
}

.monthSelection {
    margin-right: 1em;
    margin-left: 1em;
}

.infoBox {
    float: right;
    border: 0.1em solid #2A55E7;
    border-radius: 12px;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-right: 1em;
}
.wholeCalendar {
    display: flex;
    flex-direction: column;
}

.verticalCalendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.dayDiv {
    background-color: lightblue;
    width: 100%;
    min-height: 150px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 5px;
    display: flex;
    border: 2px solid black;
}

.dayNumber {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: auto;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
}

.dayContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: azure;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    min-height: 14em;
}

.onHolidayContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.onHolidayContent > p {
    text-align: left;
    margin: 0;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.workingContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-left: 2px solid black;
    flex-direction: column;
    min-height: 14em;
}

.workingContent > p{
    text-align: left;
    margin: 0;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerCont {
    display: flex;
    height: 20%;
    width: 100%;
    border-top: 2px solid black;
}

.onHoliday {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: lightgreen;
    padding-top: 10px;
    padding-bottom: 10px;
}

.working {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 2px solid black;
}

.dayDiv > * > p {
    font-weight: bold;
}

.dayDiv > * > * {
    font-weight: bold;
}

.dayNumber > p {
    margin: 0;
}