.rowOnCalendar {
    display: flex;
    justify-content: space-between;
}
.monthSelectionButtons {
    align-items: center;
    justify-content: center;
    display: flex;
}
.topRow {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.toggleButtonGroup {
    margin-top: 0.2em;
    width: 95vw;
    overflow: auto;
}
.chips {
    min-height: 3em;
}
.buttonAllTeams {
    text-transform: none;
}
.buttonSingleTeam {
    text-transform: none;
}
.monthSelection {
    margin-right: 1em;
    margin-left: 1em;
}
.wholeCalendar {
    display: flex;
    flex-direction: column;
}

.fullCalendar {
    border: solid 0.1em rgb(56, 116, 203);
    width: 100%;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    min-height: 14em;
}
.calendarSettingSymbols {
    margin-bottom: 0.5em;
}
.nameColumn {
    display: flex;
    justify-content: left;
}
.popperBox {
    border: solid 2px rgb(56, 116, 203);
    background-color: white;
    margin-right: 1em;
}
@media only screen and (min-width: 930px) {
    .cellStyle {
        text-align: center;
        max-width: 12em; /*this value should be minimum 12em so the Name value can fit to the 1st column*/
        padding-left: 0.2em;
    }
    .headerNumberAndArrow {
        display: flex;
        align-items: stretch;
    }
    .headerArrowSymbols {
        font-size: x-small;
    }
    .onHolidayTitle {
        padding-left: 0.2em;
        background-color: lightgreen;
        display: flex;
    }
    .onHolidayNumber {
        background-color: lightgreen;
        display: flex;
        justify-content: center;
    }
    .workingTitle {
        padding-left: 0.2em;
        background-color: lightblue;
        display: flex;
    }
    .workingNumber {
        background-color: lightblue;
        display: flex;
        justify-content: center;
    }
    .workingNumberWarning {
        background-color: red;
        display: flex;
        justify-content: center;
        color: white;
    }
    .calendarSettingsBox{
        font-size: small;
        border: 0.1em solid #2A55E7;
        border-radius: 12px;
        padding: 0.3em;
        margin-left: 0.3em;
    }
    .toggleButton {
        border-color: rgb(56, 116, 203);
        max-height: 3.5em;
    }

}
@media only screen and (max-width: 930px) {
    .cellStyle {
        text-align: center;
        max-width: 8em;
        font-size: xx-small;
        padding-left: 0.2em;
    }
    .headerNumberAndArrow {
        height: 1.5em;
        display: flex;
        align-items: stretch;
        font-size: xx-small;
    }
    .headerArrowSymbols {
        font-size: xx-small;
    }
    .onHolidayTitle {
        padding-left: 0.2em;
        background-color: lightgreen;
        display: flex;
        font-size: xx-small;
    }
    .onHolidayNumber {
        background-color: lightgreen;
        display: flex;
        justify-content: center;
        font-size: xx-small;
    }
    .workingTitle {
        padding-left: 0.2em;
        background-color: lightblue;
        display: flex;
        font-size: xx-small;
    }
    .workingNumber {
        background-color: lightblue;
        display: flex;
        justify-content: center;
        font-size: xx-small;
    }
    .workingNumberWarning {
        background-color: red;
        display: flex;
        justify-content: center;
        color: white;
        font-size: xx-small;
    }
    .calendarSettingsBox{
        font-size: x-small;
        border: 0.1em solid #2A55E7;
        border-radius: 12px;
        padding: 0.3em;
        margin-left: 0.3em;
    }
    .toggleButton {
        border-color: rgb(56, 116, 203);
        max-height: 3em;
    }
}