body {
  margin: auto;
  padding: 20px;
}

.redText {
  color: red;
}

ul {
  list-style-type: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: white;
  align-content: center;
  padding: 20px;
}
.sliderBox{
  width: 400px;
}
.slider{
  margin-bottom: 1%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dates {
  width: 400px;
}
.holidays {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.extraMargin {
  margin-top: 2% !important;
  margin-bottom: 1% !important;
}
.addHoliday {
  position: fixed;
}