.sliderBox{
    width: 400px;
}
.slider{
    margin-bottom: 1%;
}
.extraMargin {
    margin-top: 2% !important;
    margin-bottom: 1% !important;
}
.nameSelectBox {
    width: 300px;
    display: inline-block;
}
.deleteRow {
    display: flex;
    align-items: center;
}
.borderedBox {
    width: fit-content;
    border: solid 1px blue;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}
.content {
    display: flex;
}