.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outlet {
  margin-top: 50px;
}

.headline {
  position: absolute;
  left: 50%;
}

.appName {
  color: #3383e7;
}
.navigation {
  border-style: solid;
  border-color: #00B7FF;
  border-top: 0;
  border-width: 1px;
}

.navigationText {
  text-decoration: none;
  padding: 30px;
  color: #3383e7;
}
