.sliderBox{
    width: 400px;
}
.slider{
    margin-bottom: 1%;
}
.extraMargin {
    margin-top: 2% !important;
    margin-bottom: 1% !important;
}
.nameSelectBox {
    width: 17em;
    display: inline-block;
}
.deleteRow {
    display: flex;
    align-items: center;
}
.borderedBox {
    width: fit-content;
    border: solid 1px blue;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}
.content {
    display: flex;
    flex-direction: column;
}
.columnFlex {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.topMargin {
    margin-top: 1em;
}
.topButton {
    margin-top: 1em;
    margin-right: 2em;
}
.bottomButton {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.rowFlex {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
}
.cover {
    position: fixed;
}
.colorPickers {
    display: flex;
    flex-direction: column;
    width: auto;
}