.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.borderedBoxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
ul li {
    list-style-type: circle;
}
.slackBox {
    width: max-content;
    margin: 2em 1em 2em 4em;
}
.instructionBox {
    margin: 2em;
}
.borderedBox {
    border: solid 1px blue;
    border-radius: 1em;
    padding: 1.3em;
    margin: 0.3em;
    height: max-content;
    width: max-content;
}
.nameSelectBox {
    min-width: 15em;
    margin-bottom: 2em;
    margin-top: 0.7em;
}
.topMargin {
    margin-top: 2em;
}
.belowMargin {
    margin-bottom: 4em;
}
.allButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7em;
    margin-bottom: 2em;
}